@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Permanent+Marker&family=Source+Sans+Pro&display=swap');

body {
    background-image: url(../images/zVY7U6.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .navbar{
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0px;
    text-align: center;
    transition: .5s;
  }

  .navbar ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 50px;
    color: white;
    font-size: 22px;
    font-family: 'Permanent Marker', sans-serif;
    cursor: pointer;
    border-right: 1px solid white;
  }

  .navbar ul li:hover{
    background-color: rgba(122, 0, 204, 0.6);
  }